// containers

.container-page {
  min-height: 100vh;
  min-width: 100%;

  padding: 2.5rem;
  margin-top: 2rem;
  align-items: center;
  text-align: center;
}

//buttons

.mybtn {
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  width: fit-content;
  font-size: $navBarFontSize;
  display: inline-block;
  text-align: center;
  transition: 0.3s;
  border: 1px solid black;
  box-shadow: 5px 8px 8px #888888;
  &:hover {
    box-shadow: 5px 8px 8px #888888;
    background-color: lighten($color: $primaryColor, $amount: 5);
  }
  &:active {
    transform: translateY(4px);
  }
}

.button--primary {
  color: white;
  background-color: $primaryColor;
  border-color: $primaryColor;
  text-decoration: none;
}

.button--outline {
  background-color: white;
  border-color: $primaryColor;
}

.social-icon {
  color: white;
  background-color: $primaryColor;
  text-align: center;
  font-size: $navBarFontSize;
  width: $socialIconWidth;
  border-radius: $socialIconWidth/2;
  // border-radius: math.div($socialIconWidth, 2);
  padding: 0.5rem;
  margin: 0.5rem;
  transition: 0.25s;

  &:hover {
    background-color: transparent;
    color: $primaryColor;
  }
}

//animation
.animate__animated {
  animation-duration: 4s;
}

.txt--align__start {
  text-align: start;
}
