// containers

.container-page {
  min-height: 100vh;
  min-width: 100%;
}

//buttons

.mybtn {
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  width: fit-content;
  font-size: $navBarFontSize;
  display: inline-block;
  text-align: center;
  transition: 0.3s;
  border: 1px solid black;
  &:hover {
    box-shadow: 5px 8px 8px #888888;
  }
  &:active {
    transform: translateY(4px);
  }
}

.button--primary {
  color: white;
  background-color: $primaryColor;
  border-color: $primaryColor;
  text-decoration: none;
}

.button--outline {
  background-color: white;
  border-color: $primaryColor;
}
