@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");

// variables
// $primaryFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
//   "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
//   "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
//Verdana, Georgia, sans-serif;
// $headingFont: "Poppins", sans-serif;
$primaryFont: "Poppins", sans-serif;
$primaryColor: #10afa0;
$headingFontSizeXLarge: 4rem;
$headingfontSizeLarge: 2.5rem;
$headingfontSizeSmall: 2rem;
$paraFontSize: 1.5rem;
$navBarFontSize: 1.5rem;
$socialIconWidth: 2.5rem;
$darkBackgroundColor: rgb(0, 132, 119);

// mixins

// media query
@mixin mediaQ($arg...) {
  @if length($arg) ==1 {
    @media screen and (min-width: nth($arg, 1)) {
      @content;
    }
  }

  @if length($arg) ==2 {
    @media screen and (min-width: nth($arg,1)) and (max-width: nth($arg,2)) {
      @content;
    }
  }
}

//page border
@mixin pageBorder {
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

@mixin flexColumn {
  display: flex;
  flex-flow: column wrap;
}
