// home page

// smaller view
.home {
  @include pageBorder;
  background-color: #8a8b8d;
  overflow: hidden;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  position: relative;
  //padding-bottom: 0px;

  &__side-image {
    min-width: 100%;
    max-height: 100vh;
    object-fit: contain;
  }
  &__content {
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    gap: 3rem;
    padding: 1rem;
    text-align: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #35404e;

    .home__content__heading {
      font-size: $headingFontSizeXLarge;
    }
    .home__content__para {
      font-size: $paraFontSize;
    }
    .home__content__aboutme-link {
      text-align: center;
    }
  }
}

//larger view
@include mediaQ(798px) {
  .home {
    display: flex;
    &__side-image {
      min-width: 50%;
    }
    &__content {
      min-width: 40%;
      top: 45%;
      left: 65%;
      transform: translate(-50%, -50%);
    }
  }
}
