//@use "sass:math";
.nav {
  min-width: 100%;
  margin: 10px;
  //if position is fixed, the element will be pushed up in the z-index direction.
  //position: fixed;
  //top: 0;
  .navBar {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 1rem;
    align-items: center;

    a {
      text-decoration: none;
    }

    .navBar__name {
      width: 14rem;
      font-size: 2.5rem;
    }

    .navBar__pages {
      padding: 1.5rem 0.5rem;
      border-bottom: 1px solid lightgray;
      font-size: $primaryFont;

      a {
        color: black;
        font-size: $navBarFontSize;
        display: block;

        &:hover {
          color: gray;
        }
      }
    }
    //push the social icon and menu to the right
    .first {
      margin-left: auto;
    }

    .navBar--side {
      //navBar
      margin-right: 0.8rem;
    }

    .fab {
      color: white;
      background-color: $primaryColor;
      text-align: center;
      font-size: $navBarFontSize;
      width: $socialIconWidth;
      border-radius: $socialIconWidth/2;
      // border-radius: math.div($socialIconWidth, 2);
      padding: 0.5rem;
      margin: 0.5rem;
      transition: 0.25s;

      &:hover {
        background-color: transparent;
        color: $primaryColor;
      }
    }
    .navBar__toggle {
      font-size: 2.5rem;
      padding-left: 1rem;
      &:hover {
        color: gray;
      }
    }

    //mobile and tablet view
    .navBar--side {
      order: 1;
    }

    .navBar__pages {
      width: 100%;
      text-align: center;
      order: 2;
      display: none;
    }

    //desktop view
    @include mediaQ(798px) {
      .navBar__pages {
        width: 10%;
        margin: auto;
        display: inline-block;
        order: 1;
      }
      .navBar__toggle {
        display: none;
      }
    }
  }
}
